<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
        <mat-toolbar color="primary">
            <span>menu</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <i class="material-icons">menu</i>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">
                <i class="material-icons">label</i>
            </a>
            <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
                <i class="material-icons">add</i>
            </a>
            <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
                <i class="material-icons">search</i>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <i class="material-icons">menu</i>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button (click)="sidenav.toggle()">
            <i class="material-icons">logout</i>
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>